body {
  background-color: #111;
  color: white;
  font-family: Arial;
}

h1 {
  color: orange;
}
body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: orange;
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}
